<!DOCTYPE html>
<html>
<head>
  <title>Surfandpaddle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <div class="container">
    <div class="blog"><h2>Surf and Paddle Co. Blog</h2></div>
    <nav>
    <ul class="right">
      <li><a href="/">About</a></li>
      <li><a href="/">Search</a></li>
    </ul>
  </nav>
  <div class="text">
    <h1>SURF and PADDLE CO.</h1>
    <p>An IronYard Academy Project Est. Spring 2014</p>
</div>
</header>
<body>

<%= yield %>

<footer>
  <div class="container">
  <h4 class="copyright">The Ironyard Copyright 2013. All Rights Reserved</h4>
  <nav>
  <ul class="footerNav">
    <li><a href="/">New Item 1</a></li>
    <li><a href="/">New Item 2</a></li>
    <li><a href="/">New Item 3</a></li>
    <li><a href="/">New Item 4</a></li>
  </nav>
</div>
</footer>


</body>
</html>
